@model List<GetHotelByLocationViewModel.Result>
@{
    Layout = null;
    int count = 0;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    @using (Html.BeginForm("Index", "GetHotelByLocation", FormMethod.Post))
    {
        <label>Şehir Id</label>
        <input type="text" name="distId" class="form-control" />
        <br />
        <br />
        <button class="btn btn-outline-success">Otel Bilgilerini Getir</button>
    }
    <br />
    <br />
    <table class="table table-bordered">
        <tr>

            <th>ID</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.name</td>
                <td>@item.reviewScore</td>
            </tr>
        }
    </table>
</div>