@model List<BookingViewModel.Result>
@{
    Layout = null;
    int count = 0;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    @using (Html.BeginForm("Index", "BookingByCity", FormMethod.Post))
    {
        <label>Şehir</label>
        <input type="text" name="cityID" class="form-control" />
        <br />
        <button class="btn btn-dark">Otelleri Listele</button>
    }
    <br />
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Otel Adı</th>
            <th>Otel Puanı</th>
            <th>Otel Detayları</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.name</td>
                <td>@item.reviewScore</td>
                <td><a href="#" class="btn btn-dark">Detaya Git</a></td>
            </tr>
        }
    </table>
</div>