@model List<GuestListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <th>@item.GuestName</th>
            <td>@item.GuestSurname</td>
            <td>@item.GuestCity</td>
            <td><a href="/Guest/DeleteGuest/@item.GuestID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Guest/UpdateGuest/@item.GuestID" class="btn btn-outline-warning">Güncelle</a></td>
            <td><a class="btn btn-outline-dark">Detaylar</a></td>
        </tr>
    }
</table>
<br />
<a href="/Guest/AddGuest/" class="btn btn-outline-success"> Yeni Müşteri ekle</a>


