
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post" enctype="multipart/form-data">
    <input type="file" name="File" class="form-control"/>
    <br />
    <button class="btn btn-outline-success">Dosya Yükle</button>
</form>

